$blue : #427EF3;
$red : #B1365B;
$header-bg : #ffffff;
$bg-1 : #EBEBEB;
$bg-2 : #F7F6F2;
$grey-1 : #273739;
$grey-2 : #4B6062;
$grey-3 : #738385;
$grey-4 : #9BA7A8;
$grey-5 : #AFB8B9;
$grey-6 : #C3CACB;
$grey-7 : #D7DCDC;
$text-1 : #374E51;
$text-2 : #5F7174;
$text-3 : #879597;

$size-1 : 1rem;
$size-2 : 1.125rem;
$size-3 : 1.25rem;
$size-4 : 1.5rem;
$size-5 : 2rem;
$size-6 : 4rem;
$size-7 : 5rem;


@import url("./font/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,700&family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Calibre", sans-serif;
    line-height: 150%;
}

header{
    a{
        text-decoration: none;
    }

    //background-color: $header-bg;
    background: $header-bg;
    z-index: 1;
    position: fixed;
    top: 0px;
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @media (min-width:40rem){
        padding: 0 8rem;
    }

    .header-logo{
        img{
            max-width: 2rem;
            @media (min-width:40rem){
                max-width: 5rem;
            }
        }
    }

    a.header-link{
        color: $text-2;
        padding-left: 1.5rem;
        @media (min-width:40rem){
            padding-left: 2.5rem;
            font-size: 1.125rem;
        }
        &:hover{
            color: $blue;
        }
    }
}

div.container{
    margin: 0 1rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 1rem;

    h3.intro-heading{
        display: block;
        margin-top: $size-5;
        font-family: 'Halant';
        font-size: $size-3;
        color: $blue;
        grid-column-start: 1;
        grid-column-end: -1;

        @media (min-width:40rem){
            margin-top: $size-7;
            grid-column-start: 3;
            grid-column-end: 8;
            font-size: $size-5;
        }
    }

    p.intro-body{
        margin-top: $size-3;
        grid-column-start: 1;
        grid-column-end: -1;
        color: $text-1;
        line-height: 150%;
        text-align: justify;

        @media (min-width:40rem){
            margin-top: $size-5;
            font-size: $size-3;
            grid-column-start: 3;
            grid-column-end: 9;
        }

        span {
            color: $red;
            text-decoration: none;

            @media (min-width : 40rem) {
                font-size: $size-3;
            }
        }

        a {
            color: $blue;
            text-decoration: none;

            @media (min-width : 40rem) {
                font-size: $size-3;
            }

        }
    }

    h3.projects-heading{
        display: block;
        margin-top: $size-5;
        font-family: 'Halant';
        font-size: $size-3;
        color: $blue;
        grid-column-start: 1;
        grid-column-end: -1;

        @media (min-width:40rem){
            margin-top: $size-7;
            grid-column-start: 3;
            grid-column-end: 8;
            font-size: $size-4;
        }
    }

    div.projects-container{
        margin-top: $size-5;
        grid-column-start: 1;
        grid-column-end: -1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width:40rem){
            grid-column-start: 3;
            grid-column-end: 11;
        }

        a.project-card{
            border-radius: 0.5rem;
            width: 100%;
            display: block;
            text-decoration: none;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
            background-color: $bg-2;
            margin-bottom: $size-5;
            @media (min-width:40rem){
                width: 48%;
                margin-bottom: $size-6;
            }

            img {
                border-radius: 0.5rem;
                width: 100%;
                display: block;
                margin: auto;
            }

            h3{
                margin-top: 1rem;
                margin-left: 1rem;
                font-family: 'Halant';
                font-size: $size-2;
                color: $red;
                @media (min-width:40rem){
                    font-size: $size-3;
                }
            }

            p{
                margin: 1rem;
                color: $text-2;

            }
        }
    }


}
