$dark-grey: #393b42;
$cool-grey: #4a4d55;
$medium-grey: #727376;
$soft-grey: #cacacc;
$light-grey: #ededee;
$gainsboro: #fafafa;
$white: #ffffff;

$main: #275dad;
$main-light: #688ec6;
$main-lighter: #becee6;
$main-dark: #6c00a4;
$main-darker: #440067;
